AI_PROVIDER="volcengine"
AI_BASE_URL="https://ark.cn-beijing.volces.com/api/v3"
AI_MODEL_NAME="doubao-seed-2-0-lite-260428"
AI_API_KEY=""
AI_SAMPLE_ACCEPTANCE_RATE="0.2"
AI_USE_JSON_RESPONSE_FORMAT="false"
